{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/collection.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<!--<section id="int-hero">-->
<!--    <h1 id="home-h">Nion Lights Shop</h1>-->
<!--    <picture>-->
<!--        <source media="(max-width: 600px)" srcset="/assets/images/bkg2_sm.webp">-->
<!--        <source media="(min-width: 601px)" srcset="/assets/images/bkg2_sm.webp">-->
<!--        <img aria-hidden="true" decoding="async" src="/assets/images/bkg2_sm.webp" alt="Rave Gradient" loading="eager"-->
<!--             width="2500" height="1667">-->
<!--    </picture>-->
<!--</section>-->

<!-- ============================================ -->
<!--                 Collection                   -->
<!-- ============================================ -->

<section id="collection">
    <div class="cs-container">
        <div class="cs-card-group">
            {% for product in shopProducts | getProductsInCollection(shopCollection.idNumber) %}
            {% if product.images | length > 0 %}
            <div class="cs-item">
                <div class="cs-image-group">
                    <div class="carousel js-flickity" data-flickity-options='{ "wrapAround": true }'>
                        {% for image in product.images %}
                        <div class="carousel-cell">
                            <picture class="cs-picture">
                                <a href="/shop/{{ product.handle }}" class="cs-link">
                                    <img loading="lazy" decoding="async" src="{{ image.src }}"
                                         alt="{{ image.altText or 'a product from Nion Lights' }}" width="1280"
                                         height="568">
                                </a>
                            </picture>
                        </div>
                        {% endfor %}
                    </div>
                    {% if product.saleAmount %}
                    <span class="cs-offer">
                                            {{ product.saleAmount }}% Off!
                                        </span>
                    {% endif %}
                </div>
                <a href="/shop/{{ product.handle }}" class="cs-link">
                    <div class="cs-details">
<!--                        <h3 class="cs-product">{{ product.title | truncate(30) }}</h3>-->
                        <h3 class="cs-product">{{ product.title.split(' ').slice(0,5).join(' ') }}</h3>
                        <h4>{{product.title}}</h4>
                        <div class="cs-wrapper">
                            <div class="cs-flex">
                                <span class="cs-price">{{ product.price }}</span>
                                {% if product.compareAtPrice %}
                                <span class="cs-old-price">{{ product.compareAtPrice }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}
