{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/product.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->
<!--    <section id="int-hero">-->
<!--        <picture>-->
<!--            <source media="(max-width: 600px)" srcset="/assets/images/bkg3_sm.webp">-->
<!--            <source media="(min-width: 601px)" srcset="/assets/images/bkg3_sm.webp">-->
<!--            <img aria-hidden="true" decoding="async" src="/assets/images/bkg3_sm.webp" alt="Rave Background" loading="eager" width="2500" height="1667">-->
<!--        </picture>-->
<!--    </section>-->

    <!-- ============================================ -->
    <!--                    Product                   -->
    <!-- ============================================ -->
    <section id="product">
        <div class="cs-container">
            <picture class="cs-large-image">

<!--                TEST-->
                <div class="carousel js-flickity" data-flickity-options='{ "wrapAround": true }'>
                    {% for image in shopProduct.images %}
                    <div class="carousel-cell">
                        <picture class="cs-picture">
                            <img loading="lazy" decoding="async" src="{{ image.src }}" alt="{{ image.altText or 'a product from Nion Lights' }}" width="1280" height="568">
                        </picture>
                    </div>
                    {% endfor %}
                </div>
<!--                TEST-->

                <!--Mobile Image-->
<!--                <source media="(max-width: 600px)" srcset="{{ shopProduct.images[0].src }}">-->
                <!--Tablet and above Image-->
<!--                <source media="(min-width: 601px)" srcset="{{ shopProduct.images[0].src }}">-->
<!--                <img src="{{ shopProduct.images[0].src }}" alt="sofa product" loading="lazy" decoding="async" width="490" height="596">-->
            </picture>
            <div class="cs-product-info">
<!--                <h3 class="cs-h3">{{ shopProduct.title | truncate(30) }}</h3>-->
                <h3 class="cs-h3">{{ shopProduct.title.split(' ').slice(0,5).join(' ') }}</h3>
                <h4 class="cs-h4">{{ shopProduct.title }}</h4>
                <br>
                <span class="cs-price">{{ shopProduct.price }}</span>
                <span class="cs-compare-price">{{ shopProduct.compareAtPrice }}</span>
                <span class="cs-taxes">Local taxes included</span>
                <span class="cs-taxes">Free Shipping</span>
                <br>
                <span class="cs-details">Product Details</span>
                <p class="cs-info-text">
                    {{ shopProduct.descriptionHtml | safe }}
                </p>
                <div id="cs-buy" data-product-id="{{ shopProduct.idNumber }}"></div>
            </div>
        </div>
    </section>

{% endblock %}
