---
title: 'About | Nion Lights LLC'
description: 'Meta description for the page'
preloadImg: '/assets/images/about1.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h" class="cs-title">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/bkg2_sm.png">
            <source media="(min-width: 601px)" srcset="/assets/images/bkg2_sm.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/bkg2_sm.png" alt="Neon Background" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/about1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/about1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about1.jpg" alt="LED Belt" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/about2.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/about2.JPG">
                    <img aria-hidden="true" decoding="async" src="/assets/images/about2.JPG" alt="Belts" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Nion Lights LLC</h2>
                <p class="cs-text">
                    Welcome to Nion Lights!
                </p>
                <p class="cs-text">
                    We’re all about bringing vibrant energy and unforgettable style to your festival and rave adventures. Born from a passion for EDM culture and a love for all things that glow, we started our journey with a simple goal: to create LED accessories that not only look amazing but also elevate your experience on the dance floor.

                    Our LED belts and chokers are designed for those who live for the beat, the bass drops, and the thrill of the night. Each piece is carefully crafted to stand out, whether you’re at a massive music festival, an underground rave, or just making a statement at your favorite club.

                    We’re a small team of creators who pour our hearts into every product, ensuring that you get high-quality, durable accessories that shine as brightly as you do. We love what we do, and we’re thrilled to share it with you.

                    Thank you for stopping by our shop! Whether you’re a seasoned festival-goer or just stepping into the scene, we’re here to help you light up the night. If you have any questions or just want to chat about all things rave, don’t hesitate to reach out. And if you love your purchase, we’d be stoked to see your photos – tag us and share the glow!

                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Let the music flow, keep the dancing going, and let’s create some epic memories together!
                    </p>
                    <span class="cs-name">Buddy Delaune</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/collection/frontpage/" class="cs-button-solid">Our Products</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}
