---
title: 'Products | Nion Lights'
description: 'Meta description for the page'
preloadImg: '/assets/images/bkg2_sm.webp'
permalink: 'products/'
eleventyNavigation:
    key: Products
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/products.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    {% include 'components/cta.html' %}

{% endblock %}
