---
title: 'Nion Lights | Glow Products'
description: 'Nion Lights Glow Products, Light up LED wearable accessories for the festival and night life crowd.  Great for burning man, electric forest, EDM, tomorrowland, and more.'
preloadImg: '/assets/images/heroBkg.webp'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
key: Home
order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css"/>
<link rel="stylesheet" href="/assets/css/critical.css"/>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#2b2b2b">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#2b2b2b">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#2b2b2b">
<meta name="google-site-verification" content="Og3QCVwSWujBa13pRFZwbtvwnkkanPYIjTJzmd_72m4" />

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
	if (window.netlifyIdentity) {
		window
		.netlifyIdentity
		.on('init', (user) => {
			if (!user) {
				window
				.netlifyIdentity
				.on('login', () => {
					document.location.href = '/admin/';
				});
			}
		});
	}
</script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-229">
    <div class="cs-container">
        <div class="cs-flex-group cs-landing-glass">
            <span class="cs-topper">Nion Lights LLC</span>
            <h1 class="cs-title">Light up every room</h1>
            <p class="cs-text">
                Make a statement everywhere you go with one of Nion Light's Glow Products.
            </p>
            <a href="/shop/" class="cs-button-solid">Shop Now</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
<!--        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background-m.jpg">-->
<!--        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg">-->
<!--        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg"-->
<!--             alt="mountains" width="2250" height="1500" aria-hidden="true">-->
        <source media="(max-width: 600px)" srcset="./assets/images/heroBkg.webp">
        <source media="(min-width: 601px)" srcset="./assets/images/heroBkg.webp">
        <img loading="lazy" decoding="async" src="./assets/images/heroBkg.webp"
             alt="Rave Party" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>


{% include 'components/cta.html' %}
{% endblock %}
